 <div class="container comedian-container">
<h1>Comedian</h1>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	<div class="comedian-profile-picture"><img class="doge" src= "<%= "#{@comedian.picture_url}" %>"/></div>
	<h1 style="color:white;"><%= "#{@comedian.first_name} #{@comedian.last_name}" %></h1>
	</div>
	<div class="col-md-4">
	</div>

	
	
</div> <!-- end of row --> 
<% @events.each do |event| %>
<a href="/events/<%= event.id %>"><%= event.name %></a>
<%end%>
</div>


