<div class="container jumbo-event">
  <div class="container">
    <div class="venue-jumbo">
    </div>
  </div>
</div>

<div class="container event-show">
  <h1>Venues</h1>
  <hr>
  
  <div class="venue-map">
     <div id="map" style="width: 100%; height: 600px;"></div>
  </div>

  <hr>

  <div class="row">
  	<!-- <div class="col-md-6"> -->
   	<% @venues.each do |venue| %>
   		<!-- <div class="row event"> -->
     	<div class="col-md-12">
         <p>Venue: <a href="/venues/<%= venue.id %>"><%= "#{venue.name}" %></a><%= " <br> Location: #{venue.location} <br> #{venue.phone_number} <br> #{venue.email}"%></p>
       <!-- </a>  -->
     	</div> 
   		<!-- </div> row event div -->
 		<% end %>
 	</div>
</div>

<hr>

</div>



